.categories h1 {
  font-size: 18px;
  margin-left: 12px;
  margin-bottom: 16px;
}

.categories__icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.categories__icons p {
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
  width: 70px;
  margin-left: 0;
}

.categories__icons__1 {
  background-color: #fbbc04;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 18px;
}

.categories__icons__2 {
  background-color: #d75437;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 18px;
}

.categories__icons__3 {
  background-color: #47e185;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 18px;
}

.categories__icons__4 {
  background-color: #4285f4;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 18px;
}
