.cover-playlist {
  width: 375px;
  height: 267px;
  background-color: #f2f2f2;
  text-align: center;
}

.cover-playlist__img {
  width: 147px;
  height: 140px;
  margin-top: 37px;
}

.cover-playlist__title {
  margin-top: 16px;
}

.cover-playlist__subtitle {
  margin-top: 4px;
}
