.player {
  width: 351px;
  height: 76px;
  background-color: #1f1f1f;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.player__music {
  color: #ffffff99;
  font-size: 14px;
}
.player__title {
  color: white;
  margin-bottom: 6px;
}

.player__control {
  display: flex;
  align-items: center;
}
